:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

.ui {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  user-select: none;
}

div > img {
  width: 2.5rem;
  height: 2.5rem;
}

#interact-key {
  display: none;
}

#interact-key > div {
  position: absolute;
  bottom: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  user-select: none;
}

#back-key {
  flex-direction: column;
  bottom: 20px;
  left: 40%;
}

#telescope-menu {
  flex-direction: column;
  right: 50px;
}

#telescope-menu > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
}
